<!DOCTYPE html>
<html>
<font face="verdana,sans,arial">
<style>

/* unvisited link */
a:link {
    color: #FF6978;
}

/* visited link */
a:visited {
    color: #FF6978;
}

/* mouse over link */
a:hover {
    color: #3DCCCC;
}

/* selected link */
a:active {
    color: blue;
}
Try it Yourself »

</style>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<h1>CONTACT: "{{ instructor_email }}"<br>


GITHUB for Ansible Lightbulb: <a href="https://github.com/ansible/lightbulb" target="lightbulb">https://github.com/ansible/lightbulb</a><br><br>



<font color="gray">URL for lab materials: </font>

</h1>

<hr>

<h1><a href="http://ansible-workshop.redhatgov.io/decks/ansible-essentials.html#/" target="new_1">DECK: Ansible Essentials</a><br></h1>
<h1><a href="http://ansible-workshop.redhatgov.io/decks/intro-to-ansible-tower.html" target="new_2">DECK:  Intro To Tower</a><br></h1>
<h1><a href="http://ansible-workshop.redhatgov.io/standard/workshop/index.html" target="new_main">LAB GUIDE</a><br><br></h1>

<hr>


<h1><a href="http://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-latest.tar.gz" target="new_main">Tower Download Link</a></h1>
You may want to run these commands on your control node to download Ansible Tower directly with wget:
<pre><h2>
sudo yum -y install wget
wget http://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-latest.tar.gz
</h2></pre>


<!-- <h1><a href="https://www.ansible.com/license" target="new_2">
Request Licensing page (Pick the second option: non-Enterprise version for immediate download):</a><br><br></h1>-->


<h1><a href="http://ansible-workshop.redhatgov.io/workshop-files/ansible_tower_license.txt" target="new_gd_license">4-Node NFR Lightbulb license is available here</a><br><br></h1>

<hr>

<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>Collapsible Blocks</h1>
  </div>
{% for user in users %}
  <div data-role="main" class="ui-content">
    <div data-role="collapsible">
      <h1>{{ user.username }} - Click to see details!</h1>
      <p>[all:vars]
ansible_user={{ user.username }}
ansible_ssh_pass={{ admin_password }}
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

[web]
{% for grouper, list in instances.results|groupby('item') if grouper.item[0] == user %}
{% for vm in list %}
{% if 'control' not in vm.invocation.module_args.instance_tags.Name and 'haproxy' not in vm.invocation.module_args.instance_tags.Name%}
{{ vm.invocation.module_args.instance_tags.Name | regex_replace('.*-(node)(\\d)', '\\1-\\2') }} ansible_host={{ vm.tagged_instances[0].public_ip }}
{% endif %}
{% endfor %}
{% endfor %}

[control]
{% for grouper, list in instances.results|groupby('item') if grouper.item[0] == user %}
{% for vm in list %}
{% if 'control' in vm.invocation.module_args.instance_tags.Name %}
{{ vm.invocation.module_args.instance_tags.Name | regex_replace('.*-([\\w]*)', '\\1') }} ansible_host={{ vm.tagged_instances[0].public_ip }}
{% endif %}
{% endfor %}
{% endfor %}</p>
    </div>
  </div>
{% endfor %}
  <div data-role="footer">
    <h1>Details</h1>
  </div>
</div>

</body>
</html>
